.avatar {
  border-radius:   50%;
  display:         flex;
  align-items:     center;
  justify-content: center;
  font-weight:     $weight-bold;
  color:           #fff;
  flex-shrink:     0;
  letter-spacing:  0.5px;
  user-select:     none;
}
